<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.m2hq.spherehud">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="net.m2hq.spherehud.action.STOP_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.Settings">
        </activity>

        <service android:name=".HUDOverlayService"/>

        <service android:name=".ListenerService">
            <intent-filter>
                <action android:name=".ListenerService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".LicenseActivity"
            android:label="@string/title_activity_license"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.WithTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.m2hq.spherehud.SettingsActivity"/>
        </activity>

        <activity
            android:name=".HUDActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

    </application>

</manifest>